@page
@model Inspectral.Pages.Informes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes[0].CodigoSEC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes[0].Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListaInformes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSEC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-emid="0" asp-route-inid="@item.InformeID">Edit</a> |
                <a asp-page="./Details" asp-route-emid="0" asp-route-inid="@item.InformeID">Details</a> |
                <a asp-page="./Delete" asp-route-emid="0" asp-route-inid="@item.InformeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
